
html {
    box-sizing: border-box;
    font-family: 'Bitter', 'Georgia' ;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.notifications {
    position: fixed;
    width: max-content;
    height: 2.3em;
    font-size: 1.8em;
    right: 0;
    bottom:20px;
    color:white;
    font-family: 'Bitter', 'Georgia';
    border:none;
    background: none;
}
.notifications a{
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 15px 20px;
}
.notifications a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0.5em;
    position: absolute;
    background: currentColor;
    transition: width 0.6s ease 0s, left 0s ease 0s;
    width: 0;
}

.notifications a:hover:after {
    width: calc(100% - 1em);
    left: 0.5em;
}

/*pinkpanel form*/
    .form-group {
    margin-bottom: 1.5rem;
  }

  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .form-input {
    width: 100%;
    min-height: 2em;
    font-size: 14pt;
    padding: 0.5em;
  }
  .form-dropdown {
    width: 100%;
    min-height: 2em;
    font-size: 14pt;
    padding: 0.5em;
  }

  .form-textarea {
    width: 100%;
    min-height: 6em;
    font-size: 14pt;
    padding: 0.5em;
    max-width: 100%;
  }
.form-input::placeholder,
.form-dropdown::placeholder,
.form-textarea::placeholder {
    color: #a9a9a9;
    font-family: "courier";
    font-weight: normal;
    font-style: italic;
  }
  .form-submit {
    background-color: #fd8ee1;
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    font-size: 14pt;
  }

  .form-submit:hover {
    background-color: #fc56d2;
  }
/*bluepanel download bar*/
.download-bar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 0.1em solid #00d4ff;
    width: 100%;
    cursor: pointer;
}

.download-bar:hover {
    background-color: #edfcff;
}

.download-bar p {
    margin: 0;
    font-size: 1em;
    margin-right: 0.5em;
}

.pdf-icon {
    margin-left: auto;
}

.pdf-icon img {
    width: 1.5em;
    height: auto;
}


/*The panel that opens up previewing the options*/
div.limepanel {
    width: 100%;
}

h1.limepanel {
    text-decoration: underline;
    color: #157000;
}

h2.limepanel {
    margin-top: 0;
    color: #0fdf69;
    text-decoration: underline;
}

.limepreviews {
    width: 100%;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 1em;
    outline: 5px solid #0fdf69;
    box-shadow: -0.2em 0.2em 1em 0.2em #e6ffd1;
}
.silverpreviews {
    width: 100%;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 1em;
    outline: 5px solid #a7a7a7;
    box-shadow: -0.2em 0.2em 1em 0.2em #e6ffd1;
}


h1.bluepanel {
    text-decoration: underline;
    color: #004f8f;
}

div.bluepanel {
    width: 100%;
}

h2.bluepanel {
    margin-top: 0;
    color: #00d4ff;
    text-decoration: underline;
}

.bluepreviews {
    width: 100%;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 1em;
    border: 5px solid #00d4ff;
    box-shadow: -0.2em 0.2em 1em 0.2em #c8f6ff;
}

div.purplepanel {
    width: 100%;
}

h1.purplepanel {
    text-decoration: underline;
    color: #3c008f;
}

h2.purplepanel {
    margin-top: 0;
    color: #8b1fe4;
    text-decoration: underline;
}

.purplepreviews {
    width: 100%;
    height:calc(100% - 20px);
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 1em;
    border: 5px solid #8b1fe4;
    box-shadow: -0.2em 0.2em 1em 0.2em #e4c3ff;
}

div.pinkpanel {
    width: 100%;
}

h1.pinkpanel {
    text-decoration: underline;
    color: #ce1675;
}

h2.pinkpanel {
    margin-top: 0;
    color: #ec3393;
    text-decoration: underline;
}

.pinkpreviews {
    width: 100%;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 1em;
    border: 5px solid #ec3393;
    box-shadow: -0.2em 0.2em 1em 0.2em #ffe3f8;
}

div.cyanpanel {
    width: 100%;
}

h1.cyanpanel {
    text-decoration: underline;
    color: #004c4b;
}

h2.cyanpanel {
    margin-top: 0;
    color: #0edacf;
    text-decoration: underline;
}

.cyanpreviews {
    width: 100%;
    height:calc(100% - 20px);
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 1em;
    border: 5px solid #0edacf;
    box-shadow: -0.2em 0.2em 1em 0.2em #d9ffff;
}
a .cyanpreviews:hover {
    border: 5px solid #00a59d;
}
a .purplepreviews:hover {
    border: 5px solid #4801a6;
}
.panelcontainer {
    padding: 3em;
    font-size: 14pt;
}

#SeeAll{
    position: absolute;
    right: 2em;
    letter-spacing: 0.05em;
    text-align: right;
    margin-top:-2em;
    text-decoration: none;
}
#SeeAll a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
#SeeAll a:hover {
    text-decoration: underline;
}



#previews::-webkit-scrollbar {
    width: 10px;
    margin-right: 2px;
}

#previews::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 5px;
}

#previews::-webkit-scrollbar-track {
    background-color: #94949400;
}


/*The navbar buttons to open the sidebar*/

.sidebar button {
    text-align: left;
    font-family: 'Bitter', 'Georgia' ;
    font-size: 1.8em;
    margin: 0.5em 0.5em 0.5em 0.2em;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

.option {
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.option:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0.5em;
    position: absolute;
    background: currentColor;
    transition: width 0.6s ease 0s, left 0s ease 0s;
    width: 0;
}

.option:hover:after {
    width: calc(100% - 1em);
    left: 0.5em;
}

.option.clicked:after {
    width: calc(100% - 1em);
    left: 0.5em;
}

/*general colours*/
/*greenpanel jokes*/
.pickuplines {
    border-bottom: 5px solid rgb(255, 0, 212);
}

.roasts {
    border-bottom: 5px solid rgb(255, 0, 0);
}

.breakuplines {
    border-bottom: 5px solid rgb(0, 0, 0);
}
/*theme*/
#cyan {
    color: #00fff2;
}

.bgcyan {
    background-color: #00fff2;
}

#pink {
    color: #ff15a9;
}

.bgpink {
    background-color: #ff15a9;
}

#blue {
    color: #00beff;
}

.bgblue {
    background-color: #00beff;
}

#purple {
    color: #8f0aff;
}

.bgpurple {
    background-color: #8f0aff;
}

#lime {
    color: #49ff00;
}

.bglime {
    background-color: #49ff00;
}
/*body*/
body {
    padding: 0;
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: row;
    font-family: 'bitter', 'Trebuchet MS', Helvetica, sans-serif;
    overflow-x:hidden;
    
}
p{
    text-align: justify;
}
.title {
    margin: 0;
    width: calc(100vw - 700px);
    height: 100vh;
    background-image: url("../Images/Title\ Background.png");
    background-color: #000000;
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position: center;
}
/*The string animations and the buttons to open the sidepanel*/

#sidebar-strings {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 100vh;
    margin: 0;
    position: relative;
    z-index: 0;
}

#sidebar-strings video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.sidebar {
    padding-top: 5vh;
    border-style: none;
    background-color: none;
    font-family: 'Bitter', 'Georgia' ;
    display: flex;
    flex-direction: column;
    background-color: black;
    font-size: 1.8vh;
    width: 200px;
    height: 100vh;
    margin: 0;
    justify-content: left;
}

#previews.open {
    width: 500px;
    border-right: 0.8em solid;
}
#previews {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 0;
    z-index: 1;
    background-color: #ffffff;
    overflow: auto;
    transition: 0.5s;
    border-right: 0px solid;
    scrollbar-width: thin;
    scrollbar-color: #d1d1d1 #94949400;
}
@media (max-width: 1150px){
    #sidebar-strings{
        width:0;
        height:0;
    }
    .title{
        width: calc(100vw - 200px);
    }
    #previews{
        left:auto;
        right:0;
    }
    #previews.open{
        border-left: 0.8em solid;
        border-right:0;
    }
}
@media (max-width: 650px){
    #index-body{
        flex-direction: column;
    }
    .title{
        width: 100vw;
        height:80vh;
        background-size: auto 100%;
    }
    .sidebar{
        width:100vw;
        height:20vh;
        display:grid;
        grid-template-columns:  repeat(6,1fr);
        padding: 70px 0;
        font-size: 1.5vw;
        justify-content: center;
    }
    .sidebar .option{
        margin:0;
        text-align: center;
        padding: 10px 5px;
    }
    .sidebar button{
        margin:0;
        text-align: center;
        grid-column: span 2;
    }
    .sidebar button:last-child:nth-child(3n - 1) {
        grid-column-end: -2;
      }
      
    .sidebar button:nth-last-child(2):nth-child(3n + 1) {
        grid-column-end: 4;
      }
      
    .sidebar button:last-child:nth-child(3n - 2) {
        grid-column-end: 5;
      }
    #previews{
        height: 0;
        top:auto;
        width:100vw;
        bottom:0;
    }
        #previews.open {
            width: 100vw;
            height: 75vh;
            border-top: 0.8em solid;
            border-left:0;
        }
}
